@import 'settings';
@import 'foundation-emails';

body {
  margin: 0 !important;
  padding: 0;
  background-color: #f3f3f3;
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a{
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
table.body{
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
}
table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}
table.container{
  background: #fefefe;
  //width: 580px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit;
}
table.row {
  padding: 0;
  width: 100%;
  position: relative; }
table.container table.row {
  display: table; }
center{
  //min-width: 580px;
  width: 100%;
}
td {
  padding: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }
div[style*="margin: 16px 0"] {
  margin:0 !important;
}
p {
  margin: 0 0 10px 0;
  Margin: 0 0 10px 0; }
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 600px;
  margin: 0 auto;
}
.container, .body, .row, .outer {
  margin: 0 auto !important;
  width: 100%;
  max-width: 600px;
}
.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
th.columns{
  padding-right: 32px;
  padding-left: 32px;
}
td.columns, td.column, th.columns, th.column{
  padding-bottom: 16px;
}
th.columns table:not(.button){
  width: 100%;
}
table.spacer {
  width: 100%; }
table.spacer td {
  mso-line-height-rule: exactly; }
table.hr {
  width: 100%; }
table.hr th {
  height: 0;
  //max-width: 580px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #0a0a0a;
  border-left: 0;
  margin: 20px auto;
  Margin: 20px auto;
  clear: both; }
hr{
  border: 1px solid #d0d0d0;
  border-bottom: 0;
}

table.body table.columns td.expander,
table.body table.columns th.expander {
  display: none !important; }
.collapse > tbody > tr > td.large-12, .collapse > tbody > tr > th.large-12{
  padding-left: 0;
  padding-right: 0;
}
.collapse td.large-12.first, .collapse th.large-12.first, .collapse td.large-12.last, .collapse th.large-12.last{
  width: 596px;
}
table.text-center,
th.text-center,
td.text-center,
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
p.text-center,
span.text-center {
  text-align: center; }
table.container table.row {
  display: table; }
table.button {
  width: auto;
  margin: 0 0 16px 0;
  Margin: 0 0 16px 0; }
table.button table td {
  text-align: left;
  color: #fefefe;
  background: #666666;
  border: 0px solid #666666; }
table.button table td a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  border: 0 solid #666666;
  border-radius: 3px; }
table.button.radius table td {
  border-radius: 3px;
  border: none; }
table.button.rounded table td {
  border-radius: 500px;
  border: none; }
body.outlook p {
  display: inline !important; }
.lead {
  color: #c69f73;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px !important;
  line-height: 24px !important;
}
.et-link {
  color: #c69f73; }

.et-center-button {
  margin: 0 auto !important; }

.et-button td td {
  background: #c69f73 !important; }

.et-menu {
  padding-top: 20px; }
.et-menu th {
  text-align: center; }
.et-menu a {
  padding: 0 10px 0 10px;
  border-right: 1px solid #d0d0d0; }
.col-text-center th {
  text-align: center; }

.unsubscribe .et-link {
  color: #c2c2c2;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 10px 0 10px; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

table{
  max-width: none !important;
}
th{
  //width: auto !important;
}
center {
  //min-width: none !important;
}
.float-center{
  width: 100% !important;
  max-width: 600px !important;
}

.border-bottom{
  border-bottom:1px solid #cdcdcd;
}

.et-top{
  padding-top: 20px;
}

//from email
.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

th.columns {
  padding-right: 32px;
  padding-left: 32px;
}

td.columns,
td.column,
th.columns,
th.column {
  padding-bottom: 16px;
}

th.columns table:not(.button) {
  width: 100%;
}